{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Lista de categorías</h1>

    <div class="card-body" style="text-align: right;"> 
        <form action="{{ path('app_category_index') }}" method="get">
            <input name="filter" type="text">
            <button type="submit" class="btn btn-info">Buscar</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th {% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'a.name') }}
                </th>
                <th {% if pagination.isSorted('a.active') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Estado', 'a.active') }}
                </th>
                <th {% if pagination.isSorted('a.createdAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Creado', 'a.createdAt') }}
                </th>
                <th {% if pagination.isSorted('a.updatedAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Actualizado', 'a.updatedAt') }}
                </th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                {{ category.active ? '<a href="" class="btn btn-success">Activo</a>' : '<a href="" class="btn btn-danger">Inactivo</a>' }}
                </td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-warning">Ver</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-info">Editar</a>
                    <a href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

