{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Lista de productos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th {% if pagination.isSorted('a.code') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Código', 'a.code') }}
                </th>
                <th {% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Nombre', 'a.name') }}
                </th>
                <th {% if pagination.isSorted('a.brand') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Marca', 'a.brand') }}
                </th>
                <th {% if pagination.isSorted('a.price') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Precio', 'a.price') }}
                </th>
                <th {% if pagination.isSorted('a.createdAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'F.Creado', 'a.createdAt') }}
                </th>
                <th {% if pagination.isSorted('a.updatedAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'F.Actualizado', 'a.updatedAt') }}
                </th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-warning">Ver</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-info">Editar</a>
                    <a href="{{ path('app_product_delete', {'id': product.id}) }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>            
        {% else %}
            <tr>
                <td colspan="8">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
